# Composer
vendor
composer.lock

# Drupal
docroot/core
docroot/*/contrib
docroot/libraries
recipes/contrib
files-private
docroot/sites/default/files

# acquia/drupal-recommended-settings methodology
docroot/sites/default/settings.php
docroot/sites/default/settings/local.settings.php
salt.txt

# WebNY
.docksal